extends layout

block stylesheets
  link(rel="stylesheet", href="/vendors/bootstrap-timepicker/css/bootstrap-timepicker.min.css")
  link(rel="stylesheet", href="/stylesheets/home.css")

block content
  div.container-fluid
    form#session-form(action="/editor/", method="get")
      h1= __('app.title')
      div.form-group
        label(for="session-name", class="sr-only")= __('home.sessionName.label')
        input#session-name.form-control.input-lg(
          type="text", name="name", maxlength="50", autofocus="true",
          placeholder="#{__('home.sessionName.label')}")
      div.form-group
        div.input-group.bootstrap-timepicker.timepicker.input-group-lg
          label(for="session-duration", class="sr-only")= __('home.sessionDuration.label')
          input#session-duration(type="hidden", name="duration")
          input#session-duration-timepicker.form-control(type="text")
          span.input-group-addon
            i.glyphicon.glyphicon-time
      div.form-group
        button.btn.btn-lg.btn-primary.btn-block(type="submit")= __('home.sessionStart')

block javascripts
  script(src="/vendors/bootstrap-timepicker/js/bootstrap-timepicker.min.js")
  script(src="/javascripts/home.js")
